
@font-face {
    font-family: '29LTBukra';
    src: url('./assets/fonts/29LTBUKRAREGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/INTER-THIN.TTF') format('truetype');
    font-weight: 100;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/INTER-EXTRALIGHT.TTF') format('truetype');
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/INTER-LIGHT.TTF') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/INTER-REGULAR.TTF') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/INTER-MEDIUM.TTF') format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/INTER-SEMIBOLD.TTF') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/INTER-BOLD.TTF') format('truetype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/INTER-EXTRABOLD.TTF') format('truetype');
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/INTER-BLACK.TTF') format('truetype');
    font-weight: 900;
  }
  

*{
    font-family: 'Inter';
    /* font-family: "29LT bukra"; */
    scroll-behavior: smooth !important;
}


.expandDetails{
    transition: all ease-in-out 0.3s !important;
}



/* body {
    position: relative;
    background: rgba(255, 255, 255, 0.5) url("./assets/images/bg.jpg") no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: left bottom;
} */

@media (max-width: 1000px) {
    body {
        background-size: auto 60vh;
    }
}

#Form{
    background-color: rgba(255, 255, 255, 0.435);
}

.row{
    column-gap: 1rem;
    /* grid-template-columns: 0.25fr 1fr .75fr .75fr .5fr .5fr 1fr 0.5fr 0.15fr ; */
    grid-template-columns: 0.25fr 0.6fr .6fr .75fr .3fr 1fr 0.5fr 0.5fr 0.15fr !important;
    overflow-x: hidden !important;
}
.row-manager{
    column-gap: 1rem;
    grid-template-columns: .15fr 0.95fr 1.1fr 1.2fr 0.6fr 0.5fr .5fr .5fr  !important;
}

.qrcode::before {
    content: "";
    position: absolute;
    background-color: white;
    border-radius: .25em;
    z-index: -10;
    transform: rotate(45deg);
    width: 32px; height: 32px;
    top: 38%; right: -10%; 
}
.list {
    overflow-y: auto; /* Show scrollbar only when necessary */ 
}

/* Hide scrollbar when not needed */
.list::-webkit-scrollbar {
    width: 10px; /* Adjust width */
}

.list::-webkit-scrollbar-thumb {
    background-color: #d4d8e6; /* Change scrollbar thumb color */
    border-radius: 4px;
}

.list::-webkit-scrollbar-track {
    background: rgb(236, 236, 236); /* Hide track */
}
 

#Main{
    transition: all ease-in-out 0.3s !important;
}

.brief-info{
    transition: all ease-in-out 0.3s !important;

}


.sections::-webkit-scrollbar{
  height: 0;
}